# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Playwright
playwright-report/
test-results/

# Reports
reports/
screenshots/

# Allure
allure-results/
allure-report/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

